<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CObjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cobj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>testAutorelease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>testBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>testConcurrentMutableArray.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>testDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>testException.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>testFastEnumerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>testMutableDictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>testMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testValue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>testVector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testWMutableString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>testWString.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E6B26E416C6AF7800DF96C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7A4AFE16C957B200F6D578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE310877172B362B00661007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE46F51B185685E800753047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE7D7E1D1715BFDC00531D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE7D7E2E1715C20B00531D27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE8403AB172B1E2C00C2B093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE898572184A9FD2006C371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE898583184AA3AB006C371B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEAFA864185B522C005FA407</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB02E1C171B053600BE3F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB02E29171B069B00BE3F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DECAAF31185732BC0018231F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DECAAF43185738DE0018231F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEFB7114185BC84D00DC4DD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
